html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

canvas {
  touch-action: none;
}

.htmlMonitor iframe {
  width: 1183.3px;
  height: 670px;
  border: none;
  border-radius: 1px;
  background: '#fff';
}

.htmlMacbook iframe {
  width: 1180px;
  height: 765px;
  border: none;
  border-radius: 1px;
  background: '#fff';
}
